.hero {
  position: relative;

  &.text-per-image {
    .container {
      height: 60vh;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
  }

  &__images {
    &__image {
      background-size: cover;
      background-position: center center;
      width: 100%;
    }
  }

  &.single-text {
    .container {
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      position: absolute;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    .hero__images {
      height: 60vh;

      &__image {
        height: 100%;
      }
    }

    .flickity-viewport {
      height: 100% !important;
    }
  }
}
