.switch {
  &__image {
    padding-top: 60%;
    width: 100%;
    background-size: cover;
    background-position: center center;

    @include media-breakpoint-up(lg) {
      width: 40%;
      padding-top: 0;
    }
  }

  &__content {
    padding: 10px;
    width: 100%;

    @include media-breakpoint-up(lg) {
      padding: 25px;
      width: 60%;
    }
  }
}
